<div class="container">
    <div class="banner">
        <img src="/static/images/banner.png" alt="banner image">
    </div>

    <div class="list-container">
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail1.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail2.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail3.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail4.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail5.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail6.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail7.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>

        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="/static/images/thumbnail8.png">
            </a>
            <div class="nav-flex video-details">
                <img src="/static/images/Osei.jpg">
                <div class="video-info">
                    <a href="">The place to learn everything about coding</a>
                
                    <!--Channel name-->
                    <p>Tutorial Made Easy</p>
                    <p>15k Views &bull; 2 days ago</p>
                </div>
            </div>
        </div>
    </div>
</div>