<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Linked css stylesheets-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_content.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" >

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>
</body>
</html>