<nav class="nav-flex nav-style">
    <!--Create 3 containers for the 3 sections of the navbar-->

    <div class="nav-left nav-flex">
        <img class="menu-icon" src="/static/images/menu.png">
        <img class="logo-icon" src="/static/images/hbnb-logo.png" alt="logo"> 
    </div>

    <div class="nav-middle nav-flex">
        <div class="search nav-flex">
            <input type="text" placeholder="Search">
            <img src="/static/images/search.png" alt="search icon">
        </div>
        <img class="mic-icon" src="/static/images/voice-search.png">
    </div>

    <div class="nav-right nav-flex">
        <img src="/static/images/upload.png">
        <img src="/static/images/more.png">
        <img src="/static/images/notification.png">
        <img class="display-image" src="/static/images/Osei.jpg">
    </div>
</nav>