<div class="sidebar">
    <div class="links">
        <a href=""><img src="/static/images/home.png"><p>Home</p></a>
        <a href=""><img src="/static/images/explore.png"><p>Explore</p></a>
        <a href=""><img src="/static/images/subscriprion.png"><p>Subscription</p></a>
        <a href=""><img src="/static/images/library.png"><p>Library</p></a>
        <a href=""><img src="/static/images/history.png"><p>History</p></a>
        <a href=""><img src="/static/images/playlist.png"><p>Playlist</p></a>
        <a href=""><img src="/static/images/messages.png"><p>Messages</p></a>
        <a href=""><img src="/static/images/show-more.png"><p>Show More</p></a>
        <hr>
    </div>

    <div class="subscribed-list">
        <h3>SUBSCRIBED</h3>
        <a href=""><img src="/static/images/Osei.jpg"><p>Nathaniel Osei</p></a>
        <a href=""><img src="/static/images/simon.png"><p>Simon Baker</p></a>
        <a href=""><img src="/static/images/tom.png"><p>Tom Hardy</p></a>
        <a href=""><img src="/static/images/megan.png"><p>Megan Ryan</p></a>
        <a href=""><img src="/static/images/cameron.png"><p>Cameron Diaz</p></a>
    </div>
</div>